<p id="notice"><%= notice %></p>

<h1>Group Controllers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_controllers.each do |group_controller| %>
      <tr>
        <td><%= link_to 'Show', group_controller %></td>
        <td><%= link_to 'Edit', edit_group_controller_path(group_controller) %></td>
        <td><%= link_to 'Destroy', group_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group Controller', new_group_controller_path %>
