<p id="notice"><%= notice %></p>

<h1 align="center", class="card-panel  light-blue lighten-3">Incident Reports</h1>

<table class="highlight centered bordered card-panel  light-blue lighten-5">
  <thead>
    <tr>
      <th>Loanee</th>
      <th>Description</th>
      <th>usable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_reports.reverse.each do |incident_report| %>
      <tr>
        <td><%= incident_report.name %></td>
        <td><%= incident_report.description %></td>
        <td><%= incident_report.usable %></td>
        <% if incident_report.usable == false %>
        <td><%= link_to 'Device fixed/replaced?', [@device, incident_report], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
  <%= link_to 'Back to Devices', devices_path %>
</div>

