<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.hidden_field :device_id, value: device.id %>

  <div class="field">
    <%= f.label :Group %>
    <%= f.collection_select(:group_id, Group.all, :id, :name, {}, class: "browser-default") %>
  </div>

  <% if device.active_loan.blank? %>
    <div class="field">
      <%= f.label :User %>
      <%= f.collection_select(:user_ids, User.all, :id, :email, {prompt: 'Select Loanee'}, class: "browser-default") %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
