<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div align="center" class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :style => "text-align: center"  %>
    </div>

    <%= f.hidden_field :device_id, value: device.id %>

    <div align="center" class="field">
      <%= f.label :Group %>
      <%= f.collection_select(:group_id, Group.all, :id, :name, {}, class: "browser-default") %>
    </div>


    <div align="center" class="actions spacer10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
