<h2>
<%= Time.now.strftime("%H:%M     -    %A    -    %d/%m/%Y") %>
</h2>
<h3> Welcome </h3>
<h1>Honda</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
 

        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></t>

        <td><%= link_to 'Loan-IT', new_device_loan_path(device) %></td>
      
        </td>

      </tr>
    <% end %>
  </tbody>
</table>




</table>

<br>

<%= link_to 'Admin', rails_admin.dashboard_path %>

