<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div align="center"><%= f.label :name %><br />
  <%= f.text_field :name, :style => "text-align: center"  %></div>

  <div align="center"><%= f.label :email %><br />
  <%= f.email_field :email, :style => "text-align: center"  %></div>


  <div align="center"><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :style => "text-align: center"  %></div>

  <div align="center"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :style => "text-align: center"  %></div>

  <div align="center" class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url %>
      <%= f.check_box :remove_image %>
      <%= f.label :remove_image, for: "user_remove_image" %>
    <% end %>
  </div>

  <div align="center" class="field">
    <%= f.check_box (:admin) %>
    <%= f.label :admin, for: "user_admin" %><br />
  </div>

  <div align="center" class="actions">
    <%= f.submit %>
  </div>
<% end %>