<%= form_for([@device, @loan]) do |f| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user %>
    <%= f.collection_select(:user_id, User.all, :id, :name, {prompt: 'Select Loanee'}, class: "browser-default") %>
  </div>


  <div class="field">
    <%= f.label :signature %>
    <%= f.text_area :signature %>
  </div>

  <!-- The line below returns the current users ID so it can be used to associate their email with a loan -->


  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
