<p id="notice"><%= notice %></p>

<h1 align="center">Loans</h1>
<h6 align="right"><%= link_to 'QR Code', device_url(@device) %></h6>
<h2 align="center", class="card-panel  light-blue lighten-3"><%= @device.name %></h2>
<h5 align="center"><%= link_to 'Create Incident Report', new_device_incident_report_path(@device) %></h5>
<h5 align="center"><%= link_to 'Incident Report History', device_incident_reports_path(@device) %></h5>




<table class="highlight centered bordered card-panel  light-blue lighten-5">
  <thead>
    <tr>
      <th>Signature</th>
      <th>Time</th>
      <th>Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.signature %></td>
        <td><%= loan.created_at %></td>
        <td><%= loan.name  %></td>

        <% if loan.active %>
        <td><%= link_to 'Relinquish Device', [@device, loan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>

      </tr>
      </tr>
    <% end %>
  </tbody>
</table>




<br>
<div align="center">
  <%= link_to 'Back to devices', devices_path %>
</div>


