<p id="notice"><%= notice %></p>

<h1>Loans</h1>
<h2><%= @device.name %></h2>

<table>
  <thead>
    <tr>
      <th>Signature</th>
      <th>Time</th>
      <th>Email</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.signature %></td>
        <td><%= loan.created_at %></td>
        <td><%= loan.email  %></td>

        <% if loan.active %>
        <td><%= link_to 'Relinquish Device', [@device, loan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'Back to devices', devices_path %>

