<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.description %></td>
        <td><%= loan.signature %></td>
        <td><%= loan.device_id %></td>
        <td><%= link_to 'Show', [@loan, @device] %></td>
        <td><%= link_to 'Destroy', [@device, loan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        

    


        
      </tr>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'Back to devices', devices_path %>

