<!DOCTYPE html>
<html>
<head>

  <title>LoanIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Import Google Icon Font-->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

  <style>
    body {
      background-color: PaleTurquoise;
    }
  </style>

</head>
<body>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <img class="background" src="http://www.w3schools.com/css/trolltunga.jpg">
        <a href="#!user"><img class="circle" src="http://image.shutterstock.com/z/stock-photo-beautiful-face-of-young-woman-with-clean-fresh-skin-close-up-isolated-on-white-beauty-portrait-149962697.jpg"></a>
        <a><span class="white-text name"><%= current_user.name %></span></a>
        <a><span class="white-text email"><%= current_user.email %></span></a>
      </div></li>

      <li><a href="/devices"><i class="material-icons">home</i> Home </a></li>
      <li><a href="/users"><i class="material-icons">supervisor_account</i>All Users</a></li>
      <li><a href="/brokendevices"><i class="material-icons">broken_image</i>Broken Devices</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">add</i>Create New</a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/users/new">User</a></li>
        <li><a href="/groups/new">Group</a></li>
        <li><a href="/devices/new">Device</a></li>
      </ul>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'side-nav-link'  %></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="medium material-icons">menu</i></a>
  <% end %>




  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script>
    $('.button-collapse').sideNav();
  </script>



<%= yield %>
</body>
</html>
